#goog-fixurl {

  .other-things {
    display: none;
  }

  ul {
    max-width: 600px;
    list-style: none;
  }

  form {
    display: inline-flex;
  }

  input[type='text'] {
    max-width: 58%;
  }

}
