/* Grid
-------------------------------------------------- */
@media (min-width: 800px) {

  .grid {
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .grid > * {
    align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;

    &:first-child {
      margin-left: 0;
    }

  }

  .one-fourth,
  .one-half,
  .one-third,
  .three-fourths,
  .two-fourths,
  .two-thirds {
    flex: 0 0 auto;
    float: left;
    margin-left: 4%;
  }

  .one-half {
    width: 48%;
  }

  .one-third {
    width: 30.6666666667%;
  }

  .two-thirds {
    width: 65.3333333333%;
  }

  .one-fourth {
    width: 22%;
  }

  .three-fourths {
    width: 74%;
  }

  .first {
    margin-left: 0;
    clear: both;
  }

}
