/* Box Sizing
-------------------------------------------------- */

*,
input[type='search'] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* Float Clearing
-------------------------------------------------- */

.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.page-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
  display: table;
  content: ' ';
}

.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.page-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
  display: table;
  clear: both;
  content: ' ';
}
