.site-container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.wrap {
  margin: 0 auto;
  padding: 0 5%;
  @media (min-width: 1000px) {
    max-width: 1280px;
  }
}

.site-inner {
  margin-top: 40px;
  clear: both;
  overflow: hidden;
}

.content {
  margin-bottom: 40px;
  @media (min-width: 1000px) {
    float: left;
    width: 70%;
    margin-bottom: 0;
  }
}

.full-width-content .content {
  width: 100%;
}

.full-width-content .content-sidebar-wrap {
  margin: 0 auto;
  @media (min-width: 550px) {
    width: 90%;
  }
  @media (min-width: 800px) {
    width: 70%;
  }
}
