/* Fonts
-------------------------------------------------- */
$primary-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Roboto Condensed', sans-serif;
$tertiary-font-family: Martel, serif;

/* Colors
-------------------------------------------------- */
$primary-color: #1eaedb;
$primary-color-hover: #0fa0ce;

$secondary-color: #12302e;

$button-text-color: #fff;
$button-background-color: #33c3f0;

$button-text-color-hover: #fff;
$button-background-color-hover: #1eaedb;

